[Desktop Entry]
Name=WebCord
Comment=A Discord Web App made with the Electron API
GenericName=Internet Messenger
Exec=sh /opt/webcord/updater.sh
Icon=webcord
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

